.ie8 .template-hexagon .portfolio-items .item {
	margin-bottom: 20px;
}
.ie8 div.new-arrivals .additional-info, .ie8 div.best-sellers .additional-info {
	margin-bottom: 0 !important;	
}
.template-home .portfolio-items .overlay .icon-document, .template-home .portfolio-items .overlay .icon-zoom {
	filter: alpha(opacity=0) !important;
}
.template-home .portfolio-items .overlay:hover .icon-document, .template-home .portfolio-items .overlay:hover .icon-zoom {
	filter: alpha(opacity=100) !important;
}


.blog-posts-home .swiper-slide {
	width: 314px;
	min-height: 200px;
	position: relative;
}
.blog-posts-home .swiper-slide a.item {
	float: none;
}
.blog-posts-home .swiper-slide img {
	display: block;
}
.blog-posts-home .swiper-slide .title {
	font-size: 2.1rem;
	font-family: 'Roboto Slab',serif;
	display: block;
	margin-bottom: 4px;
	padding: 7px 15px 0 0;
}
.blog-posts-home .swiper-slide .description {
	color: #504f4f;
	display: block;
	padding-right: 15px;
	padding-top: 7px;
	margin-bottom: 7px;
}
.blog-posts-home .swiper-slide .date strong {
	margin-right: 7px;
}
.blog-posts-home .swiper-slide .comments-count {
	color: #504f4f;
}
.blog-posts-home .swiper-slide .thumb-hover {
	display: none !important;
}


.hex-portfolio .item {
	height: 360px;
	overflow: hidden;
	margin-left: 0;
}
.hex-portfolio .hexagon {
	position: absolute;
	width: 270px;
	height: 600px;
	top: -145px;
	overflow: hidden;
	visibility: hidden;
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}
.hex-portfolio .hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.hex-portfolio .hexagon-in2 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	visibility: visible;
	position: relative;
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.hex-portfolio .desc {
	padding-top: 330px;
	text-align: center;
	margin-left: -25px;
}
.hex-portfolio h4 {
	margin-bottom: 5px;
	font-weight: normal;
}
.hex-portfolio .overflow, .hex-portfolio .links {
	display: none;
}