.version.exp_guide /* version checker */
{
	color: #0000FA;
	background-color: #664A2E;
}

#page
{
	z-index: 1;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	background-image: url("/images/page-sprite.png");
	width: 962px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("/images/page-sprite.png");
	overflow: visible;
	background-position: -962px top;
	width: 962px;
	min-height: 537px;
	padding-bottom: 0px;
}

._page.f3s_bot
{
	background-image: url("/images/page-sprite.png");
	width: 962px;
	overflow: visible;
	height: 7px;
	background-position: -1924px top;
}

#page_position_content
{
	margin-top: -88px;
	padding-bottom: 212px;
}

#pu13896-4
{
	width: 0.01px;
	margin-left: 24px;
}

#u13896-4
{
	z-index: 116;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 262px;
}

#u13896-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 40px -10000px 0px 0px;
}

#menuu13897
{
	z-index: 120;
	width: 133px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 409px;
}

#u13915
{
	width: 133px;
	min-height: 35px;
	margin-right: -10000px;
}

#u13946
{
	width: 133px;
	padding-bottom: 11px;
}

#u13946:hover
{
	margin: 0px;
}

#u13946:active
{
	margin: 0px;
}

#u13947-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u13946:hover #u13947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13946:active #u13947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13946.MuseMenuActive #u13947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13949
{
	z-index: 127;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 119px;
}

.ie #u13949
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13946:hover #u13949
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13946:hover #u13949
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13946:active #u13949
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13946:active #u13949
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13946.MuseMenuActive #u13949
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13946.MuseMenuActive #u13949
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13916
{
	width: 122px;
	top: 35px;
}

#u13917
{
	width: 122px;
	padding-top: 1px;
}

#u13946.MuseMenuActive,#u13917:hover
{
	margin: 0px;
}

#u13917:active
{
	margin: 0px;
}

#u13939
{
	width: 122px;
}

#u13940
{
	width: 122px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13940:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13941-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13940:hover #u13941-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13940:active #u13941-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13933
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13940.MuseMenuActive,#u13933:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13936-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13940.MuseMenuActive #u13941-4,#u13933:hover #u13936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13933:active #u13936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13919
{
	width: 122px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u13933.MuseMenuActive,#u13919:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13921-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u13933.MuseMenuActive #u13936-4,#u13919:hover #u13921-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13919:active #u13921-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13932,#u13918,#u13925
{
	width: 122px;
	margin-top: 3px;
}

#u13928
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13919.MuseMenuActive,#u13928:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13930-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13919.MuseMenuActive #u13921-4,#u13928:hover #u13930-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13928:active #u13930-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13928.MuseMenuActive #u13930-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u19902
{
	z-index: 156;
	width: 212px;
	margin-right: -10000px;
}

#pu1878
{
	width: 0.01px;
	margin-left: -99px;
}

#u1878
{
	z-index: 2;
	height: 41px;
}

#u1878-bw
{
	z-index: 2;
	height: 43px;
}

#u1877
{
	z-index: 3;
	height: 11px;
}

#u1877-bw
{
	z-index: 3;
	margin-top: 41px;
	height: 11px;
}

#u13889-4
{
	z-index: 96;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 319px;
}

#u13889-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u13890-4
{
	z-index: 100;
	width: 180px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 509px;
}

#u13889-4.MuseLinkActive,#u13890-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u13891-4
{
	z-index: 104;
	width: 80px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 730px;
}

#u13890-4.MuseLinkActive,#u13891-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u13892-4
{
	z-index: 108;
	width: 111px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 852px;
}

#u13891-4.MuseLinkActive,#u13892-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u13893-4
{
	z-index: 112;
	width: 56px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 1004px;
}

#u13892-4.MuseLinkActive,#u13893-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u13893-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 21px -10000px 0px 0px;
}

#u15272
{
	z-index: 154;
	margin-bottom: -32px;
	width: 132px;
	margin-right: -10000px;
	margin-top: -29px;
	left: 197px;
}

#u16382-4
{
	z-index: 158;
	width: 703px;
	min-height: 47px;
	background-color: transparent;
	margin-left: 210px;
	margin-top: 13px;
	position: relative;
}

#u16382-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16382-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#pu1875-3
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: -3px;
}

#u1875-3
{
	z-index: 4;
	width: 4px;
	min-height: 5px;
	margin-right: -10000px;
}

#menuu5405
{
	z-index: 7;
	width: 142px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 54px;
}

#u5487
{
	width: 142px;
}

#u5490
{
	width: 142px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u13928.MuseMenuActive,#u5490:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5490:active
{
	margin: 0px -10000px 0px 0px;
}

#u5492-4
{
	width: 142px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u5490:hover #u5492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5490:active #u5492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5489
{
	width: 115px;
	padding-left: 5px;
}

#u5495
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5495:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u5497-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5495:hover #u5497-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u10701
{
	width: 115px;
	margin-top: 3px;
}

#u10702
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u10702:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u10705-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5495.MuseMenuActive #u5497-4,#u10702:hover #u10705-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5511
{
	width: 142px;
	min-height: 34px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5490.MuseMenuActive,#u5495.MuseMenuActive,#u10702.MuseMenuActive,#u5511:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5511:active
{
	margin: 0px -10000px 0px 0px;
}

#u5513-4
{
	width: 142px;
	min-height: 34px;
	margin-right: -10000px;
	top: 4px;
}

#u5511:hover #u5513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u5511:active #u5513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u5511.MuseMenuActive #u5513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u5503
{
	width: 115px;
	padding-left: 5px;
}

#u5505
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u5505:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u5506-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5505:hover #u5506-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u16270
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u16270:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16271-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5505.MuseMenuActive #u5506-4,#u16270:hover #u16271-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u16270.MuseMenuActive #u16271-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u16269,#u16276
{
	width: 115px;
	margin-top: 2px;
}

#u16279
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u16279:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16281-4
{
	width: 107px;
	min-height: 43px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16279:hover #u16281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u16279.MuseMenuActive #u16281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u13987
{
	width: 142px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u5511.MuseMenuActive,#u5505.MuseMenuActive,#u16270.MuseMenuActive,#u16279.MuseMenuActive,#u13987:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13987:active
{
	margin: 0px -10000px 0px 0px;
}

#u13990-4
{
	width: 142px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u5490.MuseMenuActive #u5492-4,#u13987:hover #u13990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13987:active #u13990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13992
{
	width: 115px;
	padding-left: 5px;
}

#u13996
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u13996:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u13997-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u10702.MuseMenuActive #u10705-4,#u13996:hover #u13997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16385
{
	width: 142px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u13987.MuseMenuActive,#u13996.MuseMenuActive,#u16385:hover
{
	margin: 0px -10000px 0px 0px;
}

#u16385:active
{
	margin: 0px -10000px 0px 0px;
}

#u16386-4
{
	width: 142px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u13987.MuseMenuActive #u13990-4,#u16385:hover #u16386-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u16385:active #u16386-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u16390
{
	width: 115px;
	padding-left: 5px;
}

#u16394
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u16394:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16397-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u13996.MuseMenuActive #u13997-4,#u16394:hover #u16397-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5501,#u13986,#u16384,#u16346
{
	width: 142px;
	margin-top: 2px;
}

#u16347
{
	width: 142px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u16385.MuseMenuActive,#u16394.MuseMenuActive,#u16347:hover
{
	margin: 0px -10000px 0px 0px;
}

#u16347:active
{
	margin: 0px -10000px 0px 0px;
}

#u16348-4
{
	width: 142px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u16385.MuseMenuActive #u16386-4,#u16347:hover #u16348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u16347:active #u16348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u16347.MuseMenuActive #u16348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5488,#u5502,#u13991,#u16389,#u16351
{
	width: 120px;
	left: 142px;
}

#u16352
{
	width: 115px;
	padding-left: 5px;
}

#u5489:hover,#u5503:hover,#u13992:hover,#u16390:hover,#u16352:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u5494,#u5504,#u13993,#u16391,#u16353
{
	width: 115px;
}

#u16356
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u16356:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16347.MuseMenuActive,#u16356.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u16359-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16394.MuseMenuActive #u16397-4,#u16356:hover #u16359-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16356.MuseMenuActive #u16359-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16383-4
{
	z-index: 162;
	width: 729px;
	min-height: 121px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 240px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 84px;
	padding-bottom: 36px;
}

