.version.index /* version checker */
{
	color: #00000E;
	background-color: #0591D7;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 549px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -62px;
	padding-bottom: 92px;
}

#pu65
{
	width: 0.01px;
	margin-left: -100px;
}

#u65
{
	z-index: 4;
}

#u65_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 961px;
	left: -99px;
}

#u69-4
{
	z-index: 5;
	width: 225px;
	min-height: 15px;
	margin-bottom: -5px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 635px;
}

#u69-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 42px -10000px -5px 0px;
}

#menuu70
{
	z-index: 9;
	width: 158px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 880px;
}

#u71
{
	width: 158px;
	min-height: 62px;
	margin-right: -10000px;
}

#u72
{
	width: 158px;
	padding-bottom: 26px;
}

#u74-4
{
	width: 144px;
	min-height: 36px;
	margin-right: -10000px;
	top: 13px;
}

#u72.MuseMenuActive #u74-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 16;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 24px;
	left: 144px;
}

.ie #u75
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u76
{
	width: 158px;
	top: 62px;
}

#u77
{
	width: 158px;
}

#u72.MuseMenuActive,#u77:hover
{
	margin: 0px;
}

#u77:active
{
	margin: 0px;
}

#u102
{
	width: 156px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u105-4
{
	width: 148px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u102:hover #u105-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u102:active #u105-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u93
{
	width: 156px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u96-4
{
	width: 148px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u102.MuseMenuActive #u105-4,#u93:hover #u96-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u93:active #u96-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u79
{
	width: 156px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u82-4
{
	width: 148px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u93.MuseMenuActive #u96-4,#u79:hover #u82-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u79:active #u82-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u99,#u92,#u78,#u85
{
	width: 158px;
}

#u86
{
	width: 156px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u102.MuseMenuActive,#u93.MuseMenuActive,#u79.MuseMenuActive,#u86.MuseMenuActive
{
	width: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u88-4
{
	width: 148px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u79.MuseMenuActive #u82-4,#u86:hover #u88-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u86:active #u88-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u86.MuseMenuActive #u88-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u65-bw
{
	z-index: 4;
	margin-bottom: -1px;
	margin-top: 52px;
	height: 73px;
}

#u19883
{
	z-index: 56;
	width: 212px;
	margin-right: -10000px;
	left: 123px;
}

#u9015
{
	z-index: 55;
	height: 9px;
}

#u9015-bw
{
	z-index: 55;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 9px;
}

#pu1480
{
	width: 0.01px;
	margin-left: 209px;
}

#u1480
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 186px;
}

#u1480_clip
{
	width: 225px;
	height: 160px;
}

#u1480_img
{
	margin-bottom: -9px;
}

#u138
{
	z-index: 43;
	margin-right: -10000px;
	margin-top: -32px;
	left: 434px;
}

#u136-6
{
	z-index: 49;
	width: 226px;
	min-height: 118px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u144-4
{
	z-index: 45;
	min-height: 26px;
}

#u144-4-bw
{
	z-index: 45;
	min-height: 26px;
	margin-top: 21px;
	height: 26px;
}

#pu190-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 39px;
}

#u190-4
{
	z-index: 58;
	width: 173px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u191-4
{
	z-index: 62;
	width: 174px;
	min-height: 8px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u192-4
{
	z-index: 66;
	width: 174px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u193-4
{
	z-index: 70;
	width: 174px;
	min-height: 26px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u194-4
{
	z-index: 74;
	width: 174px;
	min-height: 7px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u190-2,#u191-2,#u192-2,#u193-2,#u194-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u190-2  span,#u191-2  span,#u192-2  span,#u193-2  span,#u194-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#pu204-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 15px;
}

#u204-4
{
	z-index: 82;
	width: 173px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u203-4
{
	z-index: 78;
	width: 174px;
	min-height: 4px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u205-4
{
	z-index: 86;
	width: 170px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u206-4
{
	z-index: 90;
	width: 174px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u207-4
{
	z-index: 94;
	width: 174px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 75px;
	padding-bottom: 36px;
}

