.version.launch_milkyway /* version checker */
{
	color: #000006;
	background-color: #1A2403;
}

#page
{
	z-index: 1;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	background-image: url("/images/page-sprite.png");
	width: 962px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("/images/page-sprite.png");
	overflow: visible;
	background-position: -962px top;
	width: 962px;
	min-height: 537px;
}

._page.f3s_bot
{
	background-image: url("/images/page-sprite.png");
	width: 962px;
	overflow: visible;
	height: 7px;
	background-position: -1924px top;
}

#page_position_content
{
	margin-top: -78px;
	padding-bottom: 210px;
}

#pu14985
{
	width: 0.01px;
	margin-left: -99px;
}

#u14985
{
	z-index: 2;
	height: 41px;
}

#u14985-bw
{
	z-index: 2;
	margin-top: 71px;
	height: 43px;
}

#u14981
{
	z-index: 3;
	height: 12px;
}

#u14981-bw
{
	z-index: 3;
	margin-top: 113px;
	height: 12px;
}

#u15041-4
{
	z-index: 4;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 385px;
}

#u15041-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 34px -10000px 0px 0px;
}

#menuu14987
{
	z-index: 8;
	width: 133px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 533px;
}

#u15005
{
	width: 133px;
	min-height: 35px;
	margin-right: -10000px;
}

#u15006
{
	width: 133px;
	padding-bottom: 11px;
}

#u15006:hover
{
	margin: 0px;
}

#u15006:active
{
	margin: 0px;
}

#u15007-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u15006:hover #u15007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u15006:active #u15007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u15006.MuseMenuActive #u15007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u15008
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 119px;
}

.ie #u15008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15006:hover #u15008
{
	margin: 0px -10000px 0px 0px;
}

.ie #u15006:hover #u15008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15006:active #u15008
{
	margin: 0px -10000px 0px 0px;
}

.ie #u15006:active #u15008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15006.MuseMenuActive #u15008
{
	margin: 0px -10000px 0px 0px;
}

.ie #u15006.MuseMenuActive #u15008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15010
{
	width: 122px;
	top: 35px;
}

#u15011
{
	width: 122px;
	padding-top: 1px;
}

#u15006.MuseMenuActive,#u15011:hover
{
	margin: 0px;
}

#u15011:active
{
	margin: 0px;
}

#u15026
{
	width: 122px;
}

#u15029
{
	width: 122px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u15029:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15031-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u15029:hover #u15031-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15029:active #u15031-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15034
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u15029.MuseMenuActive,#u15034:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15037-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u15029.MuseMenuActive #u15031-4,#u15034:hover #u15037-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15034:active #u15037-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15013
{
	width: 122px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u15034.MuseMenuActive,#u15013:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15015-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u15034.MuseMenuActive #u15037-4,#u15013:hover #u15015-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15013:active #u15015-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15033,#u15012,#u15019
{
	width: 122px;
	margin-top: 3px;
}

#u15022
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u15013.MuseMenuActive,#u15022:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15024-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u15013.MuseMenuActive #u15015-4,#u15022:hover #u15024-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15022:active #u15024-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15022.MuseMenuActive #u15024-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15040-4
{
	z-index: 45;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 319px;
}

#u15040-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u15080-4
{
	z-index: 49;
	width: 180px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 509px;
}

#u15040-4.MuseLinkActive,#u15080-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u14982-4
{
	z-index: 53;
	width: 80px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 730px;
}

#u15080-4.MuseLinkActive,#u14982-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u14986-4
{
	z-index: 57;
	width: 111px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 852px;
}

#u14982-4.MuseLinkActive,#u14986-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u15081-4
{
	z-index: 61;
	width: 56px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 1004px;
}

#u14986-4.MuseLinkActive,#u15081-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u15081-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 92px -10000px 0px 0px;
}

#u15275
{
	z-index: 214;
	margin-bottom: -32px;
	width: 132px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 198px;
}

#u19898
{
	z-index: 216;
	width: 212px;
	margin-right: -10000px;
	left: 124px;
}

#u2754-4
{
	z-index: 218;
	width: 729px;
	min-height: 27px;
	background-color: transparent;
	margin-left: 210px;
	margin-top: 11px;
	position: relative;
}

#u2754-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2754-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#pu15079-3
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 13px;
}

#u15079-3
{
	z-index: 42;
	width: 4px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 18px;
}

#menuu15086
{
	z-index: 65;
	width: 146px;
	margin-right: -10000px;
	left: 54px;
}

#u15230
{
	width: 146px;
}

#u15231
{
	width: 146px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u15022.MuseMenuActive,#u15231:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15231:active
{
	margin: 0px -10000px 0px 0px;
}

#u15232-4
{
	width: 146px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u15231:hover #u15232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15231:active #u15232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15245
{
	width: 117px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u15245:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15248-4
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u15245:hover #u15248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15252
{
	width: 117px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u15252:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15254-4
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	top: 12px;
	left: 4px;
}

#u15245.MuseMenuActive #u15248-4,#u15252:hover #u15254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15259
{
	width: 117px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u15259:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15261-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 4px;
}

#u15231.MuseMenuActive #u15232-4,#u15259:hover #u15261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15259.MuseMenuActive #u15261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15238
{
	width: 117px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u15238:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15240-4
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u15252.MuseMenuActive #u15254-4,#u15238:hover #u15240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15133
{
	width: 146px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u15231.MuseMenuActive,#u15245.MuseMenuActive,#u15252.MuseMenuActive,#u15259.MuseMenuActive,#u15238.MuseMenuActive,#u15133:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15133:active
{
	margin: 0px -10000px 0px 0px;
}

#u15135-6
{
	width: 146px;
	min-height: 34px;
	margin-right: -10000px;
	top: 5px;
}

#u15238.MuseMenuActive #u15240-4,#u15133:hover #u15135-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15133:active #u15135-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15138
{
	width: 119px;
	padding-left: 1px;
}

#u15139
{
	width: 119px;
}

#u15142
{
	width: 119px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u15142:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15143-4
{
	width: 111px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u15142:hover #u15143-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15146
{
	width: 119px;
	margin-top: 2px;
}

#u15147
{
	width: 119px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u15147:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15149-4
{
	width: 111px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u15142.MuseMenuActive #u15143-4,#u15147:hover #u15149-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15154
{
	width: 146px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u15133.MuseMenuActive,#u15142.MuseMenuActive,#u15147.MuseMenuActive,#u15154:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15154:active
{
	margin: 0px -10000px 0px 0px;
}

#u15156-6
{
	width: 146px;
	min-height: 34px;
	margin-right: -10000px;
	top: 5px;
}

#u15133.MuseMenuActive #u15135-6,#u15154:hover #u15156-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15154:active #u15156-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u16223
{
	width: 115px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u16223:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16226-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u15147.MuseMenuActive #u15149-4,#u16223:hover #u16226-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15226
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u15226:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15227-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16223.MuseMenuActive #u16226-4,#u15226:hover #u15227-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15210
{
	width: 120px;
	left: 115px;
}

#u15236,#u15211
{
	width: 117px;
	padding-left: 3px;
}

#u15244,#u15212
{
	width: 117px;
}

#u15215
{
	width: 115px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u15215:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15217-4
{
	width: 107px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u15215:hover #u15217-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u15215.MuseMenuActive #u15217-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u15251,#u15258,#u15237,#u15219
{
	width: 117px;
	margin-top: 2px;
}

#u15220
{
	width: 115px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u15215.MuseMenuActive,#u15220:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15220.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15223-4
{
	width: 107px;
	min-height: 26px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u15220:hover #u15223-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
}

#u15220.MuseMenuActive #u15223-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
}

#u15205
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u15205:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15207-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u15226.MuseMenuActive #u15227-4,#u15205:hover #u15207-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u19934
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u19934:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u19937-4
{
	width: 107px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u19934:hover #u19937-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15161
{
	width: 115px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u15161:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15164-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u15205.MuseMenuActive #u15207-4,#u15161:hover #u15164-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15170
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u15170:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15171-4
{
	width: 107px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u19934.MuseMenuActive #u19937-4,#u15170:hover #u15171-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15132,#u15153,#u15087
{
	width: 146px;
	margin-top: 2px;
}

#u15111
{
	width: 146px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u15154.MuseMenuActive,#u16223.MuseMenuActive,#u15226.MuseMenuActive,#u15205.MuseMenuActive,#u19934.MuseMenuActive,#u15161.MuseMenuActive,#u15170.MuseMenuActive,#u15111:hover
{
	margin: 0px -10000px 0px 0px;
}

#u15111:active
{
	margin: 0px -10000px 0px 0px;
}

#u15113-6
{
	width: 146px;
	min-height: 34px;
	margin-right: -10000px;
	top: 5px;
}

#u15154.MuseMenuActive #u15156-6,#u15111:hover #u15113-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15111:active #u15113-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15111.MuseMenuActive #u15113-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15235,#u15137,#u15158,#u15088
{
	width: 120px;
	left: 146px;
}

#u15159,#u15089
{
	width: 115px;
	padding-left: 5px;
}

#u16199,#u15097
{
	width: 115px;
}

#u15100
{
	width: 115px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u15100:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15100:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15103-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u15161.MuseMenuActive #u15164-4,#u15100:hover #u15103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15100:active #u15103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15091
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u15091:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15091:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15092-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u15100.MuseMenuActive #u15103-4,#u15091:hover #u15092-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15091:active #u15092-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u19366
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u19366:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u19366:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u19369-4
{
	width: 107px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u15170.MuseMenuActive #u15171-4,#u19366:hover #u19369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u19366:active #u19369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u19366.MuseMenuActive #u19369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u15209,#u15202,#u19931,#u15160,#u15167,#u15090,#u19363,#u15104
{
	width: 115px;
	margin-top: 2px;
}

#u15105
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u15105:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15105:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u15111.MuseMenuActive,#u15100.MuseMenuActive,#u15091.MuseMenuActive,#u19366.MuseMenuActive,#u15105.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u15108-4
{
	width: 107px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u15091.MuseMenuActive #u15092-4,#u15105:hover #u15108-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15105:active #u15108-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15105.MuseMenuActive #u15108-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2755-15
{
	z-index: 222;
	width: 729px;
	min-height: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 83px;
	padding-bottom: 36px;
}

