#u65
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(96, 56, 19, 0.5);
	box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.55)),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.55) ,#5E50AD 100%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.55) ,#5E50AD 100%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.55) ,#5E50AD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000, endColorstr=#FF5E50AD, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C000000', endColorstr='#FF5E50AD', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u69-4
{
	background-color: transparent;
	font-size: 28px;
	color: #FFFFFF;
	position: relative;
}

#u69-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#menuu70
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u72
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u72.MuseMenuActive
{
	background-color: #999999;
}

#u74-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u72.MuseMenuActive #u74-4
{
	border-style: none;
	border-color: transparent;
}

#u74
{
	font-size: 30px;
}

#u65_align_to_page,#u75
{
	position: relative;
}

#u77
{
	border-color: #0053A3;
	background-color: transparent;
	position: relative;
}

#u77:hover
{
	background-color: #0F0101;
}

#u77:active
{
	background-color: #750202;
}

#u102
{
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: #BBBBFF;
	position: relative;
}

#u105-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u102:hover #u105-4
{
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u102:active #u105-4
{
	background-color: #ACA5D5;
	background-color: rgba(94, 80, 173, 0.51);
	-pie-background: rgba(94, 80, 173, 0.51);
}

#u93
{
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: #BBBBFF;
	position: relative;
}

#u96-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u93:hover #u96-4
{
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u93:active #u96-4
{
	background-color: #ACA5D5;
	background-color: rgba(94, 80, 173, 0.51);
	-pie-background: rgba(94, 80, 173, 0.51);
}

#u79
{
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: #BBBBFF;
	position: relative;
}

#u82-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u79:hover #u82-4
{
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u79:active #u82-4
{
	background-color: #ACA5D5;
	background-color: rgba(94, 80, 173, 0.51);
	-pie-background: rgba(94, 80, 173, 0.51);
}

#u86
{
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: #BBBBFF;
	position: relative;
}

#u102.MuseMenuActive,#u93.MuseMenuActive,#u79.MuseMenuActive,#u86.MuseMenuActive
{
	background-color: #87CEEB;
}

#u88-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u86:hover #u88-4
{
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u86:active #u88-4
{
	background-color: #ACA5D5;
	background-color: rgba(94, 80, 173, 0.51);
	-pie-background: rgba(94, 80, 173, 0.51);
}

#u69-4:hover,#u76,#u102.MuseMenuActive #u105-4,#u93.MuseMenuActive #u96-4,#u79.MuseMenuActive #u82-4,#u86.MuseMenuActive #u88-4
{
	background-color: transparent;
}

#u105,#u96,#u82,#u88
{
	color: #231F20;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u9015
{
	-pie-box-shadow: 6px 6px 8px #AF9B89;
	-moz-box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(96, 56, 19, 0.5);
	box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
}

#u71,#u99,#u92,#u78,#u85,#u19883,#u1480
{
	background-color: transparent;
	position: relative;
}

#u1480_clip
{
	overflow: hidden;
}

#u138
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u136-6
{
	background-color: transparent;
	font-size: 48px;
	color: #BBBBFF;
	position: relative;
}

#u136,#u136-3
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u144-4
{
	background-color: transparent;
	text-align: center;
}

#u74-2,#u105-2,#u96-2,#u82-2,#u88-2,#u144-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u74-2  span,#u105-2  span,#u96-2  span,#u82-2  span,#u88-2  span,#u144-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u144
{
	font-size: 22px;
	text-decoration: none;
	color: #BBBBFF;
}

