#u13896-4
{
	background-color: transparent;
	position: relative;
}

#u13946
{
	position: relative;
}

#u13946:hover
{
	background-color: transparent;
}

#u13946:active
{
	background-color: #D7D7FF;
	background-color: rgba(187, 187, 255, 0.58);
	-pie-background: rgba(187, 187, 255, 0.58);
}

.Menu-1-Gray-Normal-Act
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u13947-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u13896-4:hover p,#u13896-4:hover span,#u13946:hover #u13947-4 p,#u13946:hover #u13947-4 span,#u13946:active #u13947-4 p,#u13946:active #u13947-4 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13946.MuseMenuActive #u13947-4 p,#u13946.MuseMenuActive #u13947-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13917
{
	background-color: transparent;
	-moz-border-radius: 0px 10px 10px 10px ;
	-webkit-border-radius: 0px 10px 10px 10px ;
	-khtml-border-radius: 0px 10px 10px 10px ;
	border-radius: 0px 10px 10px 10px ;
	position: relative;
}

#u13917:hover
{
	background-color: #0F0101;
}

#u13917:active
{
	background-color: #750202;
}

#u13940
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u13940:hover
{
	background: #5E50AD url("/images/u14032-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BBBBFF),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: -o-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: linear-gradient(to bottom,#BBBBFF ,#5E50AD 100%);
	border-style: none;
	border-color: transparent;
}

#u13940.MuseMenuActive
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A3D9EF;
	background-color: rgba(135, 206, 235, 0.76);
	-pie-background: none;
}

.Menu-1-Sub-Normal
{
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: #BBBBFF;
}

#u13941-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #231F20;
	text-align: center;
	position: relative;
}

#u13946.MuseMenuActive,#u13916,#u13940:active #u13941-4
{
	background-color: transparent;
}

#u13933
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u13933:hover
{
	background: #5E50AD url("/images/u14039-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BBBBFF),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: -o-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: linear-gradient(to bottom,#BBBBFF ,#5E50AD 100%);
	border-style: none;
	border-color: transparent;
}

#u13933.MuseMenuActive
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A3D9EF;
	background-color: rgba(135, 206, 235, 0.76);
	-pie-background: none;
}

#u13936-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #231F20;
	text-align: center;
	position: relative;
}

#u13940.MuseMenuActive #u13941-4,#u13933:active #u13936-4
{
	background-color: transparent;
}

#u13919
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u13919:hover
{
	background: #5E50AD url("/images/u14027-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BBBBFF),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: -o-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: linear-gradient(to bottom,#BBBBFF ,#5E50AD 100%);
	border-style: none;
	border-color: transparent;
}

#u13919.MuseMenuActive
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A3D9EF;
	background-color: rgba(135, 206, 235, 0.76);
	-pie-background: none;
}

#u13921-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #231F20;
	text-align: center;
	position: relative;
}

#u13933.MuseMenuActive #u13936-4,#u13919:active #u13921-4
{
	background-color: transparent;
}

#u13928
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u13928:hover
{
	background: #5E50AD url("/images/u14039-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BBBBFF),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: -o-linear-gradient(top,#BBBBFF ,#5E50AD 100%);
	background: linear-gradient(to bottom,#BBBBFF ,#5E50AD 100%);
	border-style: none;
	border-color: transparent;
}

#u13928.MuseMenuActive
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A3D9EF;
	background-color: rgba(135, 206, 235, 0.76);
	-pie-background: none;
}

#u13930-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #231F20;
	text-align: center;
	position: relative;
}

#u13919.MuseMenuActive #u13921-4,#u13928:active #u13930-4
{
	background-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1878
{
	-pie-box-shadow: 6px 6px 8px #AF9B89;
	-moz-box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(96, 56, 19, 0.5);
	box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF5E50AD, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF5E50AD', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u1877
{
	-pie-box-shadow: 6px 6px 8px #AF9B89;
	-moz-box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(96, 56, 19, 0.5);
	box-shadow: 6px 6px 8px rgba(96, 56, 19, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
}

#u13915,#u13949,#u13939,#u13932,#u13918,#u13925,#u19902,#u13889-4
{
	background-color: transparent;
	position: relative;
}

#u13889-4:hover p,#u13889-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13890-4
{
	background-color: transparent;
	position: relative;
}

#u13890-4:hover p,#u13890-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13891-4
{
	background-color: transparent;
	position: relative;
}

#u13891-4:hover p,#u13891-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13892-4
{
	background-color: transparent;
	position: relative;
}

#u13892-4:hover p,#u13892-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13893-4
{
	background-color: transparent;
	position: relative;
}

#u13893-4:hover p,#u13893-4:hover span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13889-4.MuseLinkActive p,#u13889-4.MuseLinkActive span,#u13890-4.MuseLinkActive p,#u13890-4.MuseLinkActive span,#u13891-4.MuseLinkActive p,#u13891-4.MuseLinkActive span,#u13892-4.MuseLinkActive p,#u13892-4.MuseLinkActive span,#u13893-4.MuseLinkActive p,#u13893-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: underline;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u15272
{
	position: relative;
}

#u15272_img
{
	display: block;
	vertical-align: top;
}

#menuu13897,#menuu5405
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5490
{
	background: #000000 url("/images/u5490-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#5E50AD),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#5E50AD ,#000000 100%);
	background: -o-linear-gradient(top,#5E50AD ,#000000 100%);
	background: linear-gradient(to bottom,#5E50AD ,#000000 100%);
	position: relative;
}

#u5490:hover
{
	background: #5E50AD url("/images/u5490-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
}

#u5490:active
{
	background: #5E50AD url("/images/u5490-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: -o-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#5E50AD 100%);
}

.Menu-2-Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #5E50AD;
}

#u5492-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u5489
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u5489:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

.Menu-2-Sub-Normal
{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: #5E50AD;
}

#u5495
{
	border-style: none;
	position: relative;
}

#u5495:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u5495.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u5497-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u5497-2
{
	padding-right: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10702
{
	border-style: none;
	position: relative;
}

#u10702:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u10702.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u10705-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10705-2
{
	padding-right: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5511
{
	background: #000000 url("/images/u5490-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#5E50AD),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#5E50AD ,#000000 100%);
	background: -o-linear-gradient(top,#5E50AD ,#000000 100%);
	background: linear-gradient(to bottom,#5E50AD ,#000000 100%);
	position: relative;
}

#u5511:hover
{
	background: #5E50AD url("/images/u5490-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
}

#u5511:active
{
	background: #5E50AD url("/images/u5490-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: -o-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#5E50AD 100%);
}

#u5513-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u1875-3,#u5487,#u5494,#u10701,#u5501,#u5503
{
	background-color: transparent;
	position: relative;
}

#u5503:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u5505
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u5505:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u5505.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u5506-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u13946.MuseMenuActive #u13947-4,#u5490.MuseMenuActive #u5492-4,#u5511.MuseMenuActive #u5513-4,#u5505:hover #u5506-4
{
	border-style: none;
	border-color: transparent;
}

#u16270
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u16270:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u16270.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u16271-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u16270:hover #u16271-4
{
	border-style: none;
	border-color: transparent;
}

#u16279
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u16279:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u16279.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u16281-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u16279:hover #u16281-4
{
	border-style: none;
	border-color: transparent;
}

#u13987
{
	background: #000000 url("/images/u5490-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#5E50AD),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#5E50AD ,#000000 100%);
	background: -o-linear-gradient(top,#5E50AD ,#000000 100%);
	background: linear-gradient(to bottom,#5E50AD ,#000000 100%);
	position: relative;
}

#u13987:hover
{
	background: #5E50AD url("/images/u5490-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
}

#u13987:active
{
	background: #5E50AD url("/images/u5490-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: -o-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#5E50AD 100%);
}

#u13990-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u5504,#u16269,#u16276,#u13986,#u13992
{
	background-color: transparent;
	position: relative;
}

#u13992:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u13996
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u13996:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u13996.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u13997-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u13987.MuseMenuActive #u13990-4,#u13996:hover #u13997-4
{
	border-style: none;
	border-color: transparent;
}

#u16385
{
	background: #000000 url("/images/u16385-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#5E50AD),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#5E50AD ,#000000 100%);
	background: -o-linear-gradient(top,#5E50AD ,#000000 100%);
	background: linear-gradient(to bottom,#5E50AD ,#000000 100%);
	position: relative;
}

#u16385:hover
{
	background: #5E50AD url("/images/u16385-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
}

#u16385:active
{
	background: #5E50AD url("/images/u16385-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: -o-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#5E50AD 100%);
}

#u16386-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u13993,#u16384,#u16390
{
	background-color: transparent;
	position: relative;
}

#u16390:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u16394
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u16394:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u16394.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u16397-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u16385.MuseMenuActive #u16386-4,#u16394:hover #u16397-4
{
	border-style: none;
	border-color: transparent;
}

#u16347
{
	background: #000000 url("/images/u16385-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#5E50AD),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#5E50AD ,#000000 100%);
	background: -o-linear-gradient(top,#5E50AD ,#000000 100%);
	background: linear-gradient(to bottom,#5E50AD ,#000000 100%);
	position: relative;
}

#u16347:hover
{
	background: #5E50AD url("/images/u16385-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: -o-linear-gradient(top,#000000 ,#5E50AD 100%);
	background: linear-gradient(to bottom,#000000 ,#5E50AD 100%);
}

#u16347:active
{
	background: #5E50AD url("/images/u16385-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #5E50AD));
	background: -webkit-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: -o-linear-gradient(top,#6B6B6B ,#5E50AD 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#5E50AD 100%);
}

#u5490.MuseMenuActive,#u5511.MuseMenuActive,#u13987.MuseMenuActive,#u16385.MuseMenuActive,#u16347.MuseMenuActive
{
	background-image: none;
	background-color: #5E50AD;
	-pie-background: none;
}

#u16348-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u5490.MuseMenuActive #u5492-4 p,#u5490.MuseMenuActive #u5492-4 span,#u5495.MuseMenuActive #u5497-4 p,#u5495.MuseMenuActive #u5497-4 span,#u5511.MuseMenuActive #u5513-4 p,#u5511.MuseMenuActive #u5513-4 span,#u13987.MuseMenuActive #u13990-4 p,#u13987.MuseMenuActive #u13990-4 span,#u16385.MuseMenuActive #u16386-4 p,#u16385.MuseMenuActive #u16386-4 span,#u16347.MuseMenuActive #u16348-4 p,#u16347.MuseMenuActive #u16348-4 span
{
	color: #000000;
	visibility: inherit;
}

#u13928.MuseMenuActive #u13930-4,#u5488,#u5502,#u13991,#u16389,#u16351
{
	background-color: transparent;
}

#u16391,#u16346,#u16352
{
	background-color: transparent;
	position: relative;
}

#u16352:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #9C94CC;
	background-color: rgba(94, 80, 173, 0.61);
	-pie-background: rgba(94, 80, 173, 0.61);
}

#u16353
{
	background-color: transparent;
	position: relative;
}

#u16356
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	position: relative;
}

#u16356:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #AEA7D6;
	background-color: rgba(94, 80, 173, 0.5);
	-pie-background: rgba(94, 80, 173, 0.5);
}

#u16356.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #5E50AD;
	background-color: rgba(94, 80, 173, 1);
	-pie-background: rgba(94, 80, 173, 1);
}

#u16359-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u16347.MuseMenuActive #u16348-4,#u16356:hover #u16359-4
{
	border-style: none;
	border-color: transparent;
}

#u5505.MuseMenuActive #u5506-4,#u16270.MuseMenuActive #u16271-4,#u16279.MuseMenuActive #u16281-4,#u13996.MuseMenuActive #u13997-4,#u16394.MuseMenuActive #u16397-4,#u16356.MuseMenuActive #u16359-4
{
	border-color: #000000;
}

#u5505.MuseMenuActive #u5506-4 p,#u5505.MuseMenuActive #u5506-4 span,#u16270.MuseMenuActive #u16271-4 p,#u16270.MuseMenuActive #u16271-4 span,#u16279.MuseMenuActive #u16281-4 p,#u16279.MuseMenuActive #u16281-4 span,#u13996.MuseMenuActive #u13997-4 p,#u13996.MuseMenuActive #u13997-4 span,#u16394.MuseMenuActive #u16397-4 p,#u16394.MuseMenuActive #u16397-4 span,#u16356.MuseMenuActive #u16359-4 p,#u16356.MuseMenuActive #u16359-4 span
{
	color: #231F20;
	visibility: inherit;
}

#u13896-2,#u13947-2,#u13889-2,#u13890-2,#u13891-2,#u13892-2,#u13893-2,#u5506-2,#u16271-2,#u16281-2,#u13997-2,#u16397-2,#u16359-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13896-2  span,#u13947-2  span,#u13889-2  span,#u13890-2  span,#u13891-2  span,#u13892-2  span,#u13893-2  span,#u5497-2  span,#u10705-2  span,#u5506-2  span,#u16271-2  span,#u16281-2  span,#u13997-2  span,#u16397-2  span,#u16359-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u5497,#u10705,#u5506,#u16271,#u16281,#u13997,#u16397,#u16359
{
	color: #FFFFFF;
}

