.version.preflght_sdsstel /* version checker */
{
	color: #00001A;
	background-color: #CE0D20;
}

#page
{
	z-index: 1;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	background-image: url("/images/page-sprite9.png");
	width: 962px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("/images/page-sprite9.png");
	overflow: visible;
	background-position: -962px top;
	width: 962px;
	min-height: 537px;
}

._page.f3s_bot
{
	background-image: url("/images/page-sprite9.png");
	width: 962px;
	overflow: visible;
	height: 7px;
	background-position: -1924px top;
}

#page_position_content
{
	margin-top: -86px;
	padding-bottom: 42px;
}

#pu9679
{
	width: 0.01px;
	margin-left: -99px;
}

#u9679
{
	z-index: 2;
}

#u9679_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 961px;
	left: -99px;
}

#u13883-4
{
	z-index: 150;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 318px;
}

#u13883-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13884-4
{
	z-index: 154;
	width: 180px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 508px;
}

#u13883-4.MuseLinkActive,#u13884-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13885-4
{
	z-index: 158;
	width: 80px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 729px;
}

#u13884-4.MuseLinkActive,#u13885-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13886-4
{
	z-index: 162;
	width: 111px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 851px;
}

#u13885-4.MuseLinkActive,#u13886-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13887-4
{
	z-index: 166;
	width: 56px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1003px;
}

#u13886-4.MuseLinkActive,#u13887-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13887-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u9679-bw
{
	z-index: 2;
	margin-top: 79px;
	height: 43px;
}

#u13825
{
	z-index: 110;
	width: 107px;
	margin-right: -10000px;
	left: 102px;
}

#u13828-4
{
	z-index: 112;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 228px;
}

#u13828-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 30px -10000px 0px 0px;
}

#menuu13829
{
	z-index: 116;
	width: 133px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 398px;
}

#u13847
{
	width: 133px;
	min-height: 35px;
	margin-right: -10000px;
}

#u13848
{
	width: 133px;
	padding-bottom: 11px;
}

#u13848:hover
{
	margin: 0px;
}

#u13848:active
{
	margin: 0px;
}

#u13849-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u13848:hover #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13848:active #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13848.MuseMenuActive #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13850
{
	z-index: 123;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 119px;
}

.ie #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848:hover #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848:hover #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848:active #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848:active #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848.MuseMenuActive #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848.MuseMenuActive #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13852
{
	width: 122px;
	top: 35px;
}

#u13853
{
	width: 122px;
	padding-top: 1px;
}

#u13848.MuseMenuActive,#u13853:hover
{
	margin: 0px;
}

#u13853:active
{
	margin: 0px;
}

#u13861
{
	width: 122px;
}

#u13862
{
	width: 122px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13864-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13862:hover #u13864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13862:active #u13864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13871
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13862.MuseMenuActive,#u13871:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13872-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13862.MuseMenuActive #u13864-4,#u13871:hover #u13872-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13871:active #u13872-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13878
{
	width: 122px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u13871.MuseMenuActive,#u13878:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13879-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u13871.MuseMenuActive #u13872-4,#u13878:hover #u13879-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13878:active #u13879-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13868,#u13875,#u13854
{
	width: 122px;
	margin-top: 3px;
}

#u13855
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13878.MuseMenuActive,#u13855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13858-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13878.MuseMenuActive #u13879-4,#u13855:hover #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13855:active #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13855.MuseMenuActive #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15269
{
	z-index: 170;
	margin-bottom: -32px;
	width: 132px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 198px;
}

#u9676
{
	z-index: 3;
	height: 8px;
}

#u9676-bw
{
	z-index: 3;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 8px;
}

#u2945-4
{
	z-index: 172;
	width: 729px;
	min-height: 25px;
	background-color: transparent;
	margin-left: 210px;
	margin-top: 15px;
	position: relative;
}

#pu9868-3
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 10px;
}

#u9868-3
{
	z-index: 4;
	width: 4px;
	min-height: 5px;
	margin-right: -10000px;
}

#menuu9871
{
	z-index: 7;
	width: 147px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 56px;
}

#u9914
{
	width: 147px;
}

#u9915
{
	width: 147px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u13855.MuseMenuActive,#u9915:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9915:active
{
	margin: 0px -10000px 0px 0px;
}

#u9918-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u9915:hover #u9918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9915:active #u9918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9929
{
	width: 115px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u9929:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9932-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u9929:hover #u9932-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9924
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u9924:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9927-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u9929.MuseMenuActive #u9932-4,#u9924:hover #u9927-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18898
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u18898:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u18901-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u9924.MuseMenuActive #u9927-4,#u18898:hover #u18901-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18903
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u18903:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u18904-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u18898.MuseMenuActive #u18901-4,#u18903:hover #u18904-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9943
{
	width: 147px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u9915.MuseMenuActive,#u9929.MuseMenuActive,#u9924.MuseMenuActive,#u18898.MuseMenuActive,#u18903.MuseMenuActive,#u9943:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9943:active
{
	margin: 0px -10000px 0px 0px;
}

#u9946-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u9915.MuseMenuActive #u9918-4,#u9943:hover #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9943:active #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9943.MuseMenuActive #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9966
{
	width: 115px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u9966:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9969-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u18903.MuseMenuActive #u18904-4,#u9966:hover #u9969-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16193
{
	width: 115px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u16193:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16195-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u9966.MuseMenuActive #u9969-4,#u16193:hover #u16195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9959
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9959:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9961-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16193.MuseMenuActive #u16195-4,#u9959:hover #u9961-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9973
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9973:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9974-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9959.MuseMenuActive #u9961-4,#u9973:hover #u9974-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16186
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u16186:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16189-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16186:hover #u16189-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9942,#u9872
{
	width: 147px;
	margin-top: 2px;
}

#u9910
{
	width: 147px;
	min-height: 34px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u9943.MuseMenuActive,#u9966.MuseMenuActive,#u16193.MuseMenuActive,#u9959.MuseMenuActive,#u9973.MuseMenuActive,#u16186.MuseMenuActive,#u9910:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9910:active
{
	margin: 0px -10000px 0px 0px;
}

#u9911-4
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	top: 1px;
}

#u9910:hover #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9910:active #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9910.MuseMenuActive #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9919,#u9947,#u9873
{
	width: 120px;
	left: 147px;
}

#u9920,#u9948,#u9874
{
	width: 115px;
	padding-left: 5px;
}

#u9928,#u9963,#u9903
{
	width: 115px;
}

#u9906
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9906:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9907-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16186.MuseMenuActive #u16189-4,#u9906:hover #u9907-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9892
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9892:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9893-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9906.MuseMenuActive #u9907-4,#u9892:hover #u9893-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9883
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9883:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9885-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9973.MuseMenuActive #u9974-4,#u9883:hover #u9885-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9883.MuseMenuActive #u9885-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9921,#u18895,#u18902,#u16192,#u9956,#u9970,#u16185,#u9889,#u9882,#u9896
{
	width: 115px;
	margin-top: 2px;
}

#u9899
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9899:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9910.MuseMenuActive,#u9906.MuseMenuActive,#u9892.MuseMenuActive,#u9883.MuseMenuActive,#u9899.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u9900-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9892.MuseMenuActive #u9893-4,#u9899:hover #u9900-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9899.MuseMenuActive #u9900-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2947-67
{
	z-index: 176;
	width: 729px;
	min-height: 1038px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 240px;
}

#u2959
{
	float: left;
	margin: 6px;
}

#u2954
{
	z-index: 193;
	width: 100px;
	background-color: transparent;
}

#u11538
{
	float: right;
	margin-left: 5px;
}

#u11539
{
	z-index: 212;
	width: 213px;
	background-color: transparent;
}

#u2945-2,#u2947-11,#u2947-22,#u2947-39
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2945-2  span,#u2947-11  span,#u2947-22  span,#u2947-39  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u2972
{
	float: left;
	margin: -4px 7px 18px -7px;
}

#u2966
{
	z-index: 228;
	width: 262px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
}

#u11558
{
	float: right;
}

#u11552
{
	z-index: 241;
	width: 298px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
}

#u2979-4
{
	z-index: 255;
	width: 513px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 932px;
	left: 240px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 87px;
	padding-bottom: 36px;
}

