.version.preflght_spectra /* version checker */
{
	color: #0000FB;
	background-color: #DB2974;
}

#page
{
	z-index: 1;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	background-image: url("/images/page-sprite12.png");
	width: 962px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("/images/page-sprite12.png");
	overflow: visible;
	background-position: -962px top;
	width: 962px;
	min-height: 2544px;
}

._page.f3s_bot
{
	background-image: url("/images/page-sprite12.png");
	width: 962px;
	overflow: visible;
	height: 7px;
	background-position: -1924px top;
}

#page_position_content
{
	margin-top: -86px;
	padding-bottom: 42px;
}

#pu9679
{
	width: 0.01px;
	margin-left: -99px;
}

#u9679
{
	z-index: 2;
}

#u9679_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 961px;
	left: -99px;
}

#u13883-4
{
	z-index: 150;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 318px;
}

#u13883-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13884-4
{
	z-index: 154;
	width: 180px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 508px;
}

#u13883-4.MuseLinkActive,#u13884-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13885-4
{
	z-index: 158;
	width: 80px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 729px;
}

#u13884-4.MuseLinkActive,#u13885-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13886-4
{
	z-index: 162;
	width: 111px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 851px;
}

#u13885-4.MuseLinkActive,#u13886-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13887-4
{
	z-index: 166;
	width: 56px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1003px;
}

#u13886-4.MuseLinkActive,#u13887-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u13887-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 17px -10000px 0px 0px;
}

#u9679-bw
{
	z-index: 2;
	margin-top: 79px;
	height: 43px;
}

#u13825
{
	z-index: 110;
	width: 107px;
	margin-right: -10000px;
	left: 102px;
}

#u13828-4
{
	z-index: 112;
	width: 148px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 228px;
}

#u13828-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 30px -10000px 0px 0px;
}

#menuu13829
{
	z-index: 116;
	width: 133px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 398px;
}

#u13847
{
	width: 133px;
	min-height: 35px;
	margin-right: -10000px;
}

#u13848
{
	width: 133px;
	padding-bottom: 11px;
}

#u13848:hover
{
	margin: 0px;
}

#u13848:active
{
	margin: 0px;
}

#u13849-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u13848:hover #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13848:active #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13848.MuseMenuActive #u13849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u13850
{
	z-index: 123;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 119px;
}

.ie #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848:hover #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848:hover #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848:active #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848:active #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13848.MuseMenuActive #u13850
{
	margin: 0px -10000px 0px 0px;
}

.ie #u13848.MuseMenuActive #u13850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13852
{
	width: 122px;
	top: 35px;
}

#u13853
{
	width: 122px;
	padding-top: 1px;
}

#u13848.MuseMenuActive,#u13853:hover
{
	margin: 0px;
}

#u13853:active
{
	margin: 0px;
}

#u13861
{
	width: 122px;
}

#u13862
{
	width: 122px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13864-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13862:hover #u13864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13862:active #u13864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13871
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13862.MuseMenuActive,#u13871:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13872-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13862.MuseMenuActive #u13864-4,#u13871:hover #u13872-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13871:active #u13872-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13878
{
	width: 122px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u13871.MuseMenuActive,#u13878:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13879-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u13871.MuseMenuActive #u13872-4,#u13878:hover #u13879-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13878:active #u13879-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13868,#u13875,#u13854
{
	width: 122px;
	margin-top: 3px;
}

#u13855
{
	width: 122px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u13878.MuseMenuActive,#u13855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u13858-4
{
	width: 114px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u13878.MuseMenuActive #u13879-4,#u13855:hover #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13855:active #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u13855.MuseMenuActive #u13858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u15269
{
	z-index: 170;
	margin-bottom: -32px;
	width: 132px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 198px;
}

#u9676
{
	z-index: 3;
	height: 8px;
}

#u9676-bw
{
	z-index: 3;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 8px;
}

#pu9868-3
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 15px;
}

#u9868-3
{
	z-index: 4;
	width: 4px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 44px;
}

#menuu9871
{
	z-index: 7;
	width: 147px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 56px;
}

#u9914
{
	width: 147px;
}

#u9915
{
	width: 147px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u13855.MuseMenuActive,#u9915:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9915:active
{
	margin: 0px -10000px 0px 0px;
}

#u9918-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u9915:hover #u9918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9915:active #u9918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9929
{
	width: 115px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u9929:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9932-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u9929:hover #u9932-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9924
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u9924:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9927-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u9929.MuseMenuActive #u9932-4,#u9924:hover #u9927-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18898
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u18898:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u18901-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u9924.MuseMenuActive #u9927-4,#u18898:hover #u18901-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18903
{
	width: 115px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u18903:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u18904-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u18898.MuseMenuActive #u18901-4,#u18903:hover #u18904-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9943
{
	width: 147px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u9915.MuseMenuActive,#u9929.MuseMenuActive,#u9924.MuseMenuActive,#u18898.MuseMenuActive,#u18903.MuseMenuActive,#u9943:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9943:active
{
	margin: 0px -10000px 0px 0px;
}

#u9946-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u9915.MuseMenuActive #u9918-4,#u9943:hover #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9943:active #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9943.MuseMenuActive #u9946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9966
{
	width: 115px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u9966:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9969-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u18903.MuseMenuActive #u18904-4,#u9966:hover #u9969-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16193
{
	width: 115px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u16193:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16195-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u9966.MuseMenuActive #u9969-4,#u16193:hover #u16195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9959
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9959:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9961-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16193.MuseMenuActive #u16195-4,#u9959:hover #u9961-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9973
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9973:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9974-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9959.MuseMenuActive #u9961-4,#u9973:hover #u9974-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u16186
{
	width: 115px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u16186:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u16189-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16186:hover #u16189-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9942,#u9872
{
	width: 147px;
	margin-top: 2px;
}

#u9910
{
	width: 147px;
	min-height: 34px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u9943.MuseMenuActive,#u9966.MuseMenuActive,#u16193.MuseMenuActive,#u9959.MuseMenuActive,#u9973.MuseMenuActive,#u16186.MuseMenuActive,#u9910:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9910:active
{
	margin: 0px -10000px 0px 0px;
}

#u9911-4
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	top: 1px;
}

#u9910:hover #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9910:active #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9910.MuseMenuActive #u9911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u9919,#u9947,#u9873
{
	width: 120px;
	left: 147px;
}

#u9920,#u9948,#u9874
{
	width: 115px;
	padding-left: 5px;
}

#u9928,#u9963,#u9903
{
	width: 115px;
}

#u9906
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9906:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9907-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16186.MuseMenuActive #u16189-4,#u9906:hover #u9907-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9892
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9892:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9893-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9906.MuseMenuActive #u9907-4,#u9892:hover #u9893-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9883
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9883:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9885-4
{
	width: 107px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9973.MuseMenuActive #u9974-4,#u9883:hover #u9885-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9883.MuseMenuActive #u9885-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9921,#u18895,#u18902,#u16192,#u9956,#u9970,#u16185,#u9889,#u9882,#u9896
{
	width: 115px;
	margin-top: 2px;
}

#u9899
{
	width: 115px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u9899:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u9910.MuseMenuActive,#u9906.MuseMenuActive,#u9892.MuseMenuActive,#u9883.MuseMenuActive,#u9899.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u9900-4
{
	width: 107px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9892.MuseMenuActive #u9893-4,#u9899:hover #u9900-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u9899.MuseMenuActive #u9900-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u12053-4
{
	z-index: 172;
	width: 725px;
	min-height: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u12056-37
{
	z-index: 176;
	width: 729px;
	min-height: 732px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 240px;
}

#u12064
{
	float: left;
	margin: 3px;
}

#u12061
{
	z-index: 187;
	width: 380px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
}

#u12056-9
{
	font-size: 16px;
}

#u12092-4
{
	z-index: 216;
	width: 237px;
	min-height: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
	left: 692px;
}

#u12133
{
	z-index: 246;
	width: 431px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 755px;
	left: 240px;
}

#u12090-4
{
	z-index: 248;
	width: 203px;
	min-height: 38px;
	background-color: transparent;
	font-size: 24px;
	color: #0053A3;
	position: relative;
	margin-right: -10000px;
	margin-top: 809px;
	left: 310px;
}

#u16742
{
	z-index: 313;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 588px;
}

#pu12139
{
	width: 0.01px;
	margin-left: 218px;
	margin-top: 43px;
}

#u12139
{
	z-index: 252;
	width: 431px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12091-4
{
	z-index: 254;
	width: 203px;
	min-height: 38px;
	background-color: transparent;
	font-size: 24px;
	color: #0053A3;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 163px;
}

#u12090,#u12091
{
	font-size: 24px;
}

#u12093-5
{
	z-index: 315;
	width: 244px;
	min-height: 223px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 454px;
}

#u12056-32,#u12093-2
{
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u19928-7
{
	z-index: 320;
	width: 729px;
	min-height: 68px;
	background-color: transparent;
	margin-left: 210px;
	margin-top: 32px;
	position: relative;
}

#pamphletu12095
{
	z-index: 220;
	width: 0.01px;
	height: 158px;
	margin-left: 210px;
	margin-top: 15px;
	position: relative;
}

#u12108
{
	position: absolute;
	width: 525px;
	background-color: #B5DBE8;
	background-color: rgba(173, 216, 230, 0.9);
	padding-bottom: 44px;
	top: -38px;
	left: 116px;
	-pie-background: rgba(173, 216, 230, 0.9);
}

#u12108popup
{
	z-index: 221;
}

#u12109
{
	z-index: 222;
	width: 479px;
	height: 323px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12110
{
	z-index: 223;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u12115
{
	z-index: 225;
	width: 479px;
	height: 323px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12116
{
	z-index: 226;
	width: 472px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u12112
{
	z-index: 228;
	width: 479px;
	height: 323px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #C4C4C4;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12113
{
	z-index: 229;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u12098
{
	z-index: 231;
	width: 725px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u12105
{
	position: absolute;
	width: 233px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	top: 1px;
	left: 1px;
}

#u12105:hover
{
	border-color: #999999;
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u12106
{
	z-index: 233;
	width: 233px;
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u12105:hover #u12106
{
	width: 233px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u12061_img,#u12106_img
{
	padding-right: 1px;
}

#u12099
{
	position: absolute;
	width: 307px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	top: 1px;
	left: 245px;
}

#u12099:hover
{
	border-color: #999999;
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#u12100
{
	z-index: 236;
	width: 233px;
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u12105.PamphletThumbSelected #u12106,#u12099:hover #u12100
{
	width: 233px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u12099.PamphletThumbSelected #u12100
{
	width: 233px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u12102
{
	position: absolute;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	top: 1px;
	left: 489px;
}

#u12102:hover
{
	border-color: #6B6B6B;
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u12103
{
	z-index: 239;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #0053A3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u12102:hover #u12103
{
	width: 235px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u12102.PamphletThumbSelected #u12103
{
	width: 235px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u12096
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 4px;
	top: 39px;
	left: 837px;
}

#u12096:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	margin: 0px;
}

#u12096:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	margin: 0px;
}

#u12097-4
{
	z-index: 242;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u12145-47
{
	z-index: 258;
	width: 726px;
	min-height: 33px;
	background-color: transparent;
	margin-left: 213px;
	margin-top: 21px;
	position: relative;
}

#u15918
{
	float: right;
	margin-top: 12px;
	margin-bottom: -2px;
	margin-left: 8px;
}

#u15912
{
	z-index: 268;
}

#u15912_img
{
	display: block;
	vertical-align: top;
}

#u12145-17
{
	font-size: 1px;
	line-height: 0px;
}

#u15924
{
	z-index: 283;
	width: 192px;
	min-height: 508px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12053-2,#u12056-10,#u12056-19,#u19928-2,#u12145-2,#u12145-23
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12053-2  span,#u12056-10  span,#u12056-10  a,#u12056-19  span,#u12056-19  a,#u19928-2  span,#u12145-2  span,#u12145-23  span,#u12145-23  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u15887-3
{
	z-index: 310;
	width: 5px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 102px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 87px;
	padding-bottom: 36px;
}

